.about_me_main {
    display: flex;
    flex-direction: column;
}

.about_me_photo {
    width: 180px;
    height: 250px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.about_me_main_row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: .2;
    transition: .5s;
}

.about_me_main_row1:hover {
    opacity: 1;
    color: #fff;
    background: #f66d52;
}

.block_column {
    display: flex;
    flex-direction: column;
}

.text_center {
    text-align: center;
}

.margin_top {
    margin-top: 20px;
}

.about_me_main_row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: .2;
    transition: .5s;
}

.about_me_main_row2:hover {
    opacity: 1;
    color: #fff; 
    background: #f66d52; 
}

.about_me_main_row3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: .2;
    transition: .5s;
}

.about_me_main_row3:hover {
    opacity: 1;
    color: #fff;
    background: #f66d52; 
}
