  .grid_works {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    padding: 20px; 
  }

  .example {
    border: 3px solid #fff;
    filter: grayscale(100%) brightness(1.5);
    width: 250px;
    height: 400px;
    transition: .5s ease;
  }

  .example:hover {
    transform: scale(1.02);
    filter: grayscale(0%);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
  }
